@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

a.active {
  font-weight: 700;
  color: #3d3d3d;
  border-bottom: 3px solid #46a358;
  transition: all ease 200ms;
}

.logo {
  border: none;
}
.logo.active {
  border: none;
}

.basket {
  height: 24px;
}
.basket.active {
  border: none;
}

::-webkit-scrollbar {
  width: 0px;
}
.hovered {
  transform: scale(1.1);
  border-radius: 0px;
  transition: transform 0.3s ease, border-width 0.3s ease,
    border-radius 0.3s ease, border-color 0.3s ease;
}

.icon-hovered {
  transform: scale(1.2);
  transition: transform 0.3s ease, color 0.3s ease;
}

li {
  transition: transform 0.3s ease;
}

.btn-style501 {
  --btn-color: linear-gradient(to right, #46a358 0%, #5fb376 51%, #46a358 100%);

  background-image: var(--btn-color);
  background-size: 200% auto;
  background-position: left top;
  border-color: transparent;
  color: #464646;
  transition: background-position 0.5s ease, color 0.5s ease;
}

.btn-style510 {
  --btn-color: #46a358;
  --btn-hover-color: #3b894b;
  position: relative;
  background-color: var(--btn-color);
  border-color: var(--btn-color);
  color: #fff;
}

.btn-style509 {
  --btn-color: #46a358;
  --btn-hover-color: #3b894b;
  position: relative;
  background-color: var(--btn-color);
  border-color: var(--btn-color);
  color: #fff;
}
